@import "nullstyle.scss";

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    height: 100%;
}

body._lock {
    overflow: hidden;
}

.main {
    flex: 1 1 100%;
}

@import "header.scss";
@import "address.scss";
@import "insurance_service.scss";
@import "insurance.scss";
@import "sign.scss";
@import "reg.scss";
@import "footer.scss";